body {
    background-color: #F3F5FC;
    width: 100%;
    text-align: center;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

}

header {
    width: 100%;
    text-align: left;
}

header .logo {
    margin: 40px 0 0 40px;
}

main {
    width: 100%;
    background-color: #F3F5FC;
}

.left-side,
.right-side {
    vertical-align: top;
}

.left-side {
    width: 65%;
    display: inline-block;
}

.left-side .contenedor {
    height: 844px;
}

.left-side .textarea-input {
    font-size: 32px;
    color: #0A3871;
    background-color: #F3F5FC;
    margin-top: 150px;
    width: 577px;
    height: 480px;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
}

::placeholder {
    color: #0A3871;
    opacity: 0.6;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.right-side {
    display: inline-block;
}

.right-side .contenedor {
    height: 844px;
    width: 400px;

    display: flex;
    /**/
    align-items: center;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

    border-style: none;
    border-color: blue;
    border-radius: 32px;
    border-width: 2px;

    background-color: white;
}

.right-side .contenedor .contenido {
    width: 100%;
}

.right-side .texto-inactivo {
    width: 100%;
    text-align: center;
}

.muñeco {
    width: 300px;
    margin-bottom: 20px;
}

.right-side .aviso-input-vacio {
    display: inline-block;
    width: 336px;
}

.right-side .aviso-input-vacio b {
    font-size: 24px;
    opacity: 0.7;
}

.right-side .aviso-input-vacio p {
    font-size: 16px;
    line-height: 1.5;
}


/*-------*/

.texto-inactivo {
    display: block;
}

.aviso-condiciones p,
.aviso-condiciones img {
    display: inline-block;
    opacity: 0.7;
    text-align: left;
}

.aviso-input-vacio {
    margin-top: 5px;
}


/*-------*/
.texto-activo {
    display: none;
}

.texto-activo textarea {
    height: 600px;
    width: 336px;
    font-size: 24px;
    color: black;
    opacity: 0.7;
    border-style: none;
    border-radius: 10px;
    outline: none;
}

/*-------*/



.boton {
    margin-top: 20px;
    width: 328px;
    font-size: 16px;
    border-radius: 24px;
    border-style: solid;
    border-color: #0A3871;
    padding: 24px;
    cursor: pointer;
}

.copiar {
    background-color: white;
}

.botones-encriptacion .encriptar {
    background-color: #0A3871;
    color: white;
}

.botones-encriptacion .desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
}

footer {
    margin-top: 30px;
    margin-bottom: 20px;
}

/*RESPONSIVE*/
/*tablet*/
@media screen and (min-width:768px) and (max-width: 1180px) {
    .muñeco {
        display: none;
    }

    .right-side .aviso-input-vacio {
        width: 100%;
    }

    .right-side .contenedor {
        height: fit-content;
        width: 668px;
        padding: 10px 0 10px 0;
    }

    .texto-activo textarea {
        height: auto;
    }
}

@media (max-width: 1030px) {
    .botones-encriptacion {
        width: 100%;
        text-align: center;
    }

    .right-side .contenedor {
        margin-top: 30px;
    }
    .right-side .aviso-input-vacio {
        width: 100%;
    }

    .right-side .contenedor {
        height: fit-content;
        width: 668px;
        padding: 10px 0 10px 0;
    }

    .texto-activo textarea {
        height: auto;
    }
}

/*celular*/
@media screen and (max-width: 767px) {
    .muñeco {
        display: none;
    }

}